html {
  font-size: 62.5%;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.dropdown-wrap {
  position: relative;
}
.dropdown-activator {
  align-items: center;
  /* background-color: inherit; */
  border: 1px solid transparent;
  border-color: #ccc;
  font-size: 2rem;
  color: inherit;
  display: flex;
  width: 20rem;
  padding: 1.5rem;

}
.dropdown-activator:after {
      content: "";
      border-bottom: 1px solid #000;
      border-right: 1px solid #000;
      height: 0.5em;
      margin-left: 2em;
      width: 0.5em;
      transform: rotate(45deg);
}


.dropdown-itemList {
  /* background-color: #ececec; */
  color: black;
  font-size: 2rem;
  display: none;
  margin: 0;
  width: 20rem;
  padding: 0;
  position: absolute;
}

li {
    list-style: none;
    margin: 0;
}   

    a, a:link {
        background-color: #ececec;
        margin-block: 0.2rem;
        border-radius: 10px;
        display: block;
        padding: 0.5em;
    }


.dropdown-itemList.active {
    display: block;
}
